.gradle
/build/
processedImg/*


# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache
.png
.jpg
.jpeg

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
*.png
*.JPG
*.svg
out/artifacts/nNearest_main_jar/previewVideo_video.mp4
